.tmp
.sass-cache
.tern-project
*.log
.jshintrc
.bowerrc
.editorconfig
.gitattributes
#.gitignore
.travis.yml
atlassian-ide-plugin.xml
.heapsnapshot
log.txt
npm-debug.log
node_modules
node_modules/*grunt*
#node_modules/karma*
access_token.txt
.idea
.vscode
.DS_Store
dump.rdb
*.heapsnapshot
.logs
client/5wei/meal
torch
.tag*
yarn.lock

#**/environment/development.js
